body{

  font-family: 'Dancing Script';
  font-size: 1.2em;
  background-color: #02010a;
  width: 1000px;
  margin:auto;
}

#Contenido{

}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  min-height: 100px;
  display: flex;
}
header h1{
  color: white;
  text-shadow: 2px 2px #02010a;
  width: 70%;
  margin-left: 10px;
}
#menu-principal{
  width: 25%;
  display: flex;
  flex-direction: row;
  padding-top: 35px;
}

#menu-principal a{
  text-align: right;
  color: white;
  font-size: 1.2em;
  width: 70%;
}

img{
  max-width: 100%;
  border: 1px solid;
  -webkit-box-shadow:2px 2px 2px #02010a;
  -moz-box-shadow:2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;
}

#ImagenCentral{
  background-color: #82c3ab;
  padding: 1em;
}

#ImagenCentral img{
  display: block;
  margin:auto;
  max-width: 60%;
}

.ImagenSecundaria{
  box-sizing: border-box;
  background-color: #d5c75f;
  padding: 1em;
  width: 100%;
  text-align: center;
}

.ImagenSecundaria img{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  -webkit-box-shadow:2px 2px 2px #02010a;
  -moz-box-shadow:2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;

}

#Imagenes2{
  display: flex;
}

.enlace{
  text-decoration: underline;
}

.ImagenSecundaria p{
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
}

#Img1:hover{
  transition: 1s;
  transform: rotate(10deg);
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
  box-shadow: 2px 2px 2px #82c3a6;
}

#Img2:hover{
  transition: 1s;
  transform:translate(20px, -5px);
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
  box-shadow: 2px 2px 2px #82c3a6;
}

.ImagenSecundaria p{
  text-align: center;
  text-decoration: underline;
}

footer{
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  min-height: 200px;
  display: flex;
  width: 100%;
}

.Pie {
  margin:20px;
  width: 25%
}

.red img{
  width: 10px;
}

#galeria{
  box-sizing: border-box;
  background-color: #d5c75f;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: flex;
}

.ImagenPR img{
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  flex-direction: column;
  margin:10px;
}

.PR1{
  -webkit-filter:blur(10px);
  -moz-filter:blur(10px);
  filter: blur(10px);
}

.PR3{
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  filter: sepia(90%);
}

.ImagenPR>img:nth-child(even){
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
