/*Estos son los estilos para todo el cuerpo, el font-family esta ubicado como link en el archivo html*/
body {

  font-family: 'Dancing Script';

  font-size: 1.2em;
  background-color: #02010a;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#Contenido {
  width: 1000px;
  margin: auto;
}

/*header con sus estilos y animaciones*/
header {
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
  min-height: 100px;
  display: flex;
  animation: encabezado 2s;
}

header h1 {
  color: white;
  text-shadow: 2px 2px #02010a;
  width: 70%;
  margin-left: 10px;
}

@-webkit-keyframes encabezado {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}

/*Este es el navbar*/
#menu-principal {
  width: 25%;
  display: flex;
  flex-direction: row;
  padding-top: 35px;
}

#menu-principal a {
  text-align: right;
  color: white;
  font-size: 1.2em;
  width: 70%;
}

/*Este es el estilo que se pidio para todas las imagenes*/
img {
  max-width: 100%;
  border: 1px solid;
  -webkit-box-shadow:2px 2px 2px #02010a;
  -moz-box-shadow:2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;
}

/*Los estilos para la columna e imagen central de la pagina de inicio*/
#ImagenCentral {
  background-color: #82c3ab;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%
}

#ImagenCentral img {
  display: block;
  margin:auto;
  max-width: 60%;
}

/*Estilos para las imagenes secundaria de la pagina de inicio (columna e imagens)*/
.ImagenSecundaria {
  box-sizing: border-box;
  background-color: #d5c75f;
  padding: 1em;
  width: 100%;
  text-align: center;
  width: 50%
}

.ImagenSecundaria img {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  -webkit-box-shadow:2px 2px 2px #02010a;
  -moz-box-shadow:2px 2px 2px #02010a;
  box-shadow: 2px 2px 2px #02010a;

}

#Imagenes2 {
  display: flex;
}

.enlace {
  text-decoration: underline;
}

.ImagenSecundaria p {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
}

.ImagenSecundaria p {
  text-align: center;
  text-decoration: underline;
}

/*Estas son las transiciones para las imagenes secundarias de la pagina de inicio*/
#Img1:hover {
  transition-duration: 1s;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -webkit-box-shadow:2px 2px 2px #82c3a6;
  -moz-box-shadow:2px 2px 2px #82c3a6;
  box-shadow: 2px 2px 2px #82c3a6;
}

#Img2:hover {
  transition-duration: 1s;
  transform: translate(20px, -5px);
  -webkit-transform: translate(20px, -5px);
  -moz-transform: translate(20px, -5px);
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
  box-shadow: 2px 2px 2px #82c3a6;
}

/*Los estilos de la galeria de la pagina retratos y paisajes*/
#galeria {
  box-sizing: border-box;
  background-color: #d5c75f;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: flex;
}

.ImagenPR img {
  max-width: 70%;
  max-height: 70%;
  text-align: center;
  flex-direction: column;
  margin:10px;
}

/*Los filtros para las 6 fotos de la pagina retratos y paisajes*/
.PR1 {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}

.PR3 {
  -webkit-filter: sepia(90%);
  -moz-filter: sepia(90%);
  filter: sepia(90%);
}

.PRPAR {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}


/*Los estilos del footer para todo su contenido*/
footer {
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  min-height: 100px;
  display: flex;
  width: 100%;
}

.Pie {
  margin:20px;
  width: 25%
}

.red img {
  width: 5%;
}

@media screen and (max-width:900px) {
  #Contenido {
    width: 100%;
  }

  #Imagenes2,
  #galeria,
  header,
  footer {
    flex-direction: column;
  }

  #Imagenes2 .ImagenSecundaria,
  #galeria.ImagenPR,
  footer,
  header,
  .Pie,
  header h1 {
    width: 100%
  }

  body {
    width: 100%;
  }

  #menu-principal {
    width: 80%;
  }

  #menu-principal,
  h1 {
    text-align: center;
  }

  footer .Pie {
    margin:0.5%;
  }
  footer .Pie h1, .Pie p{
    font-size: 1em;
    text-align: left;
    justify-content: center;
  }

}
